@use "../../assets/styles/variable" as *;
@use "../../assets/styles/mixin" as *;

.card-container {
  @include center-along-xy;
  height: 70vh;
   gap: 0.5rem;
  background-color: $backgroundlight;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 80%;
  }
}
