 @use "../../assets/styles/variable.scss" as *;


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
}

.primary-button {
  background: linear-gradient(to right, $primary, $primarylight);
  font-family:$popinfont ;
  font-size: 0.8rem;

  &:hover {
    background: linear-gradient(to right, $primarylight, $primary) !important;
    color: $white !important;
  }
}


.poppins-font-family {
  font-family: $popinfont;
}


.font-size-small {
  font-size: 0.7rem;
}

.font-size-md {
  font-size: 0.8rem;
}
  
.font-size-lg {
  font-size: 1rem;
}


.error-text {
  color: $error-msg;
  font-size:0.7rem;
  margin-top: 4px;
}


.icon-small {
  width: 2rem;
  height: 2rem;
}


.icon-md {
  width: 3rem;
  height: 3rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

 
.approved-btn {

  padding: 1rem 0.5rem;
  border-radius: 5px;
 }