@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//colors
$white: #ffffff;
$primary: #2F9DCB;
$primarylight: #61B0D1;
$black: #000000;
$error-msg: #FF0000;

$backgroundlight: #F1F4F8;
 
//radius
$radius: 12px;

//box-shadow

// Typography

// Spacing
$spacingformainsection: 75px;
$spacingBtwSectionsMobile: 24px;
$spacingBtwItemsMobile: 16px;
$spacingBtwOptionsMobile: 8px;
 
//font-family
$roboto: "Roboto", sans-serif;
$montserrat: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;

$popinfont: "Poppins", sans-serif;

